@media screen and (max-width: 1280px) {
  .container {
    max-width: 1250px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1140px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

@media only screen and (max-width: 1140px) {
  .container {
    max-width: 1024px;
  }
  .add-show-mobile {
    display: inline-block;
  }
  .add-show-desktop {
    display: none;
  }
  .col-tb-1 {
    grid-column: span 1;
  }
  .col-tb-2 {
    grid-column: span 2;
  }
  .col-tb-3 {
    grid-column: span 3;
  }
  .col-tb-4 {
    grid-column: span 4;
  }
  .col-tb-5 {
    grid-column: span 5;
  }
  .col-tb-6 {
    grid-column: span 6;
  }
  .col-tb-7 {
    grid-column: span 7;
  }
  .col-tb-8 {
    grid-column: span 8;
  }
  .col-tb-9 {
    grid-column: span 9;
  }
  .col-tb-10 {
    grid-column: span 10;
  }
  .col-tb-11 {
    grid-column: span 11;
  }
  .col-tb-12 {
    grid-column: span 12;
  }
  .tb-font-size-12 {
    font-size: 12px;
  }
  .tb-font-size-13 {
    font-size: 13px;
  }
  .tb-font-size-14 {
    font-size: 14px;
  }
  .tb-font-size-15 {
    font-size: 15px;
  }
  .tb-font-size-16 {
    font-size: 16px;
  }
  .tb-font-size-17 {
    font-size: 17px;
  }
  .tb-font-size-18 {
    font-size: 18px;
  }
  .tb-font-size-19 {
    font-size: 19px;
  }
  .tb-font-size-20 {
    font-size: 20px;
  }
  .tb-font-size-21 {
    font-size: 21px;
  }
  .tb-font-size-22 {
    font-size: 22px;
  }
  .tb-font-size-23 {
    font-size: 23px;
  }
  .tb-font-size-24 {
    font-size: 24px;
  }
  .tb-font-size-25 {
    font-size: 25px;
  }
  .tb-font-size-26 {
    font-size: 26px;
  }
  .tb-font-size-27 {
    font-size: 27px;
  }
  .tb-font-size-28 {
    font-size: 28px;
  }
  .tb-font-size-29 {
    font-size: 29px;
  }
  .tb-font-size-30 {
    font-size: 30px;
  }
  .tb-font-size-31 {
    font-size: 31px;
  }
  .tb-font-size-32 {
    font-size: 32px;
  }
  .tb-font-size-33 {
    font-size: 33px;
  }
  .tb-font-size-34 {
    font-size: 34px;
  }
  .tb-font-size-35 {
    font-size: 35px;
  }
  .tb-font-size-36 {
    font-size: 36px;
  }
  .tb-font-size-37 {
    font-size: 37px;
  }
  .tb-font-size-38 {
    font-size: 38px;
  }
  .tb-font-size-39 {
    font-size: 39px;
  }
  .tb-font-size-40 {
    font-size: 40px;
  }
  .tb-font-size-41 {
    font-size: 41px;
  }
  .tb-font-size-42 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 1139px) and (min-width: 1024px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 846px;
  }
  .t-display-none {
    display: none;
  }
  .col-t-1 {
    grid-column: span 1;
  }
  .col-t-2 {
    grid-column: span 2;
  }
  .col-t-3 {
    grid-column: span 3;
  }
  .col-t-4 {
    grid-column: span 4;
  }
  .col-t-5 {
    grid-column: span 5;
  }
  .col-t-6 {
    grid-column: span 6;
  }
  .col-t-7 {
    grid-column: span 7;
  }
  .col-t-8 {
    grid-column: span 8;
  }
  .col-t-9 {
    grid-column: span 9;
  }
  .col-t-10 {
    grid-column: span 10;
  }
  .col-t-11 {
    grid-column: span 11;
  }
  .col-t-12 {
    grid-column: span 12;
  }
  .t-font-size-12 {
    font-size: 12px;
  }
  .t-font-size-13 {
    font-size: 13px;
  }
  .t-font-size-14 {
    font-size: 14px;
  }
  .t-font-size-15 {
    font-size: 15px;
  }
  .t-font-size-16 {
    font-size: 16px;
  }
  .t-font-size-17 {
    font-size: 17px;
  }
  .t-font-size-18 {
    font-size: 18px;
  }
  .t-font-size-19 {
    font-size: 19px;
  }
  .t-font-size-20 {
    font-size: 20px;
  }
  .t-font-size-21 {
    font-size: 21px;
  }
  .t-font-size-22 {
    font-size: 22px;
  }
  .t-font-size-23 {
    font-size: 23px;
  }
  .t-font-size-24 {
    font-size: 24px;
  }
  .t-font-size-25 {
    font-size: 25px;
  }
  .t-font-size-26 {
    font-size: 26px;
  }
  .t-font-size-27 {
    font-size: 27px;
  }
  .t-font-size-28 {
    font-size: 28px;
  }
  .t-font-size-29 {
    font-size: 29px;
  }
  .t-font-size-30 {
    font-size: 30px;
  }
  .t-font-size-31 {
    font-size: 31px;
  }
  .t-font-size-32 {
    font-size: 32px;
  }
  .t-font-size-33 {
    font-size: 33px;
  }
  .t-font-size-34 {
    font-size: 34px;
  }
  .t-font-size-35 {
    font-size: 35px;
  }
  .t-font-size-36 {
    font-size: 36px;
  }
  .t-font-size-37 {
    font-size: 37px;
  }
  .t-font-size-38 {
    font-size: 38px;
  }
  .t-font-size-39 {
    font-size: 39px;
  }
  .t-font-size-40 {
    font-size: 40px;
  }
  .t-font-size-41 {
    font-size: 41px;
  }
  .t-font-size-42 {
    font-size: 42px;
  }
  .t-line-height-1 {
    line-height: 1px;
  }
  .t-line-height-2 {
    line-height: 2px;
  }
  .t-line-height-3 {
    line-height: 3px;
  }
  .t-line-height-4 {
    line-height: 4px;
  }
  .t-line-height-5 {
    line-height: 5px;
  }
  .t-line-height-6 {
    line-height: 6px;
  }
  .t-line-height-7 {
    line-height: 7px;
  }
  .t-line-height-8 {
    line-height: 8px;
  }
  .t-line-height-9 {
    line-height: 9px;
  }
  .t-line-height-10 {
    line-height: 10px;
  }
  .t-line-height-11 {
    line-height: 11px;
  }
  .t-line-height-12 {
    line-height: 12px;
  }
  .t-line-height-13 {
    line-height: 13px;
  }
  .t-line-height-14 {
    line-height: 14px;
  }
  .t-line-height-15 {
    line-height: 15px;
  }
  .t-line-height-16 {
    line-height: 16px;
  }
  .t-line-height-17 {
    line-height: 17px;
  }
  .t-line-height-18 {
    line-height: 18px;
  }
  .t-line-height-19 {
    line-height: 19px;
  }
  .t-line-height-20 {
    line-height: 20px;
  }
  .t-line-height-21 {
    line-height: 21px;
  }
  .t-line-height-22 {
    line-height: 22px;
  }
  .t-line-height-23 {
    line-height: 23px;
  }
  .t-line-height-24 {
    line-height: 24px;
  }
  .t-line-height-25 {
    line-height: 25px;
  }
  .t-line-height-26 {
    line-height: 26px;
  }
  .t-line-height-27 {
    line-height: 27px;
  }
  .t-line-height-28 {
    line-height: 28px;
  }
  .t-line-height-29 {
    line-height: 29px;
  }
  .t-line-height-30 {
    line-height: 30px;
  }
  .t-line-height-31 {
    line-height: 31px;
  }
  .t-line-height-32 {
    line-height: 32px;
  }
  .t-line-height-33 {
    line-height: 33px;
  }
  .t-line-height-34 {
    line-height: 34px;
  }
  .t-line-height-35 {
    line-height: 35px;
  }
  .t-line-height-36 {
    line-height: 36px;
  }
  .t-line-height-37 {
    line-height: 37px;
  }
  .t-line-height-38 {
    line-height: 38px;
  }
  .t-line-height-39 {
    line-height: 39px;
  }
  .t-line-height-40 {
    line-height: 40px;
  }
  .t-line-height-41 {
    line-height: 41px;
  }
  .t-line-height-42 {
    line-height: 42px;
  }
  .t-float-left {
    float: left;
  }
  .t-pl-0 {
    padding-left: 0;
  }
  .t-left-align {
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 876px) {
  .container {
    max-width: calc(100% - 30px);
  }
}

@media only screen and (max-width: 876px) {
  .container {
    max-width: 738px;
  }
  .col-m-1 {
    grid-column: span 1;
  }
  .col-m-2 {
    grid-column: span 2;
  }
  .col-m-3 {
    grid-column: span 3;
  }
  .col-m-4 {
    grid-column: span 4;
  }
  .col-m-5 {
    grid-column: span 5;
  }
  .col-m-6 {
    grid-column: span 6;
  }
  .col-m-7 {
    grid-column: span 7;
  }
  .col-m-8 {
    grid-column: span 8;
  }
  .col-m-9 {
    grid-column: span 9;
  }
  .col-m-10 {
    grid-column: span 10;
  }
  .col-m-11 {
    grid-column: span 11;
  }
  .col-m-12 {
    grid-column: span 12;
  }
  .m-center-align {
    text-align: center;
  }
  .m-float-none {
    float: none;
  }
  .m-mr-0 {
    margin-right: 0;
  }
  .m-display-none {
    display: none;
  }
  .m-display-block {
    display: block;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .container {
    max-width: calc(100% - 30px);
  }
  .s-display-none {
    display: none;
  }
  .s-img-r-h3-l {
    border-top: 1px solid #e2e2e2;
    padding-top: 15px;
  }
  .s-img-r-h3-l p {
    display: none;
  }
  .s-img-r-h3-l img {
    float: right;
    width: 30%;
  }
  .s-img-r-h3-l h3 {
    float: left;
    width: 70%;
    height: auto;
    font-size: 18px;
  }
  .col-s-1 {
    grid-column: span 1;
  }
  .col-s-2 {
    grid-column: span 2;
  }
  .col-s-3 {
    grid-column: span 3;
  }
  .col-s-4 {
    grid-column: span 4;
  }
  .col-s-5 {
    grid-column: span 5;
  }
  .col-s-6 {
    grid-column: span 6;
  }
  .col-s-7 {
    grid-column: span 7;
  }
  .col-s-8 {
    grid-column: span 8;
  }
  .col-s-9 {
    grid-column: span 9;
  }
  .col-s-10 {
    grid-column: span 10;
  }
  .col-s-11 {
    grid-column: span 11;
  }
  .col-s-12 {
    grid-column: span 12;
  }
  .s-font-size-12 {
    font-size: 12px;
  }
  .s-font-size-13 {
    font-size: 13px;
  }
  .s-font-size-14 {
    font-size: 14px;
  }
  .s-font-size-15 {
    font-size: 15px;
  }
  .s-font-size-16 {
    font-size: 16px;
  }
  .s-font-size-17 {
    font-size: 17px;
  }
  .s-font-size-18 {
    font-size: 18px;
  }
  .s-font-size-19 {
    font-size: 19px;
  }
  .s-font-size-20 {
    font-size: 20px;
  }
  .s-font-size-21 {
    font-size: 21px;
  }
  .s-font-size-22 {
    font-size: 22px;
  }
  .s-font-size-23 {
    font-size: 23px;
  }
  .s-font-size-24 {
    font-size: 24px;
  }
  .s-font-size-25 {
    font-size: 25px;
  }
  .s-font-size-26 {
    font-size: 26px;
  }
  .s-font-size-27 {
    font-size: 27px;
  }
  .s-font-size-28 {
    font-size: 28px;
  }
  .s-font-size-29 {
    font-size: 29px;
  }
  .s-font-size-30 {
    font-size: 30px;
  }
  .s-font-size-31 {
    font-size: 31px;
  }
  .s-font-size-32 {
    font-size: 32px;
  }
  .s-font-size-33 {
    font-size: 33px;
  }
  .s-font-size-34 {
    font-size: 34px;
  }
  .s-font-size-35 {
    font-size: 35px;
  }
  .s-font-size-36 {
    font-size: 36px;
  }
  .s-font-size-37 {
    font-size: 37px;
  }
  .s-font-size-38 {
    font-size: 38px;
  }
  .s-font-size-39 {
    font-size: 39px;
  }
  .s-font-size-40 {
    font-size: 40px;
  }
  .s-font-size-41 {
    font-size: 41px;
  }
  .s-font-size-42 {
    font-size: 42px;
  }
  .s-line-height-1 {
    line-height: 1px;
  }
  .s-line-height-2 {
    line-height: 2px;
  }
  .s-line-height-3 {
    line-height: 3px;
  }
  .s-line-height-4 {
    line-height: 4px;
  }
  .s-line-height-5 {
    line-height: 5px;
  }
  .s-line-height-6 {
    line-height: 6px;
  }
  .s-line-height-7 {
    line-height: 7px;
  }
  .s-line-height-8 {
    line-height: 8px;
  }
  .s-line-height-9 {
    line-height: 9px;
  }
  .s-line-height-10 {
    line-height: 10px;
  }
  .s-line-height-11 {
    line-height: 11px;
  }
  .s-line-height-12 {
    line-height: 12px;
  }
  .s-line-height-13 {
    line-height: 13px;
  }
  .s-line-height-14 {
    line-height: 14px;
  }
  .s-line-height-15 {
    line-height: 15px;
  }
  .s-line-height-16 {
    line-height: 16px;
  }
  .s-line-height-17 {
    line-height: 17px;
  }
  .s-line-height-18 {
    line-height: 18px;
  }
  .s-line-height-19 {
    line-height: 19px;
  }
  .s-line-height-20 {
    line-height: 20px;
  }
  .s-line-height-21 {
    line-height: 21px;
  }
  .s-line-height-22 {
    line-height: 22px;
  }
  .s-line-height-23 {
    line-height: 23px;
  }
  .s-line-height-24 {
    line-height: 24px;
  }
  .s-line-height-25 {
    line-height: 25px;
  }
  .s-line-height-26 {
    line-height: 26px;
  }
  .s-line-height-27 {
    line-height: 27px;
  }
  .s-line-height-28 {
    line-height: 28px;
  }
  .s-line-height-29 {
    line-height: 29px;
  }
  .s-line-height-30 {
    line-height: 30px;
  }
  .s-line-height-31 {
    line-height: 31px;
  }
  .s-line-height-32 {
    line-height: 32px;
  }
  .s-line-height-33 {
    line-height: 33px;
  }
  .s-line-height-34 {
    line-height: 34px;
  }
  .s-line-height-35 {
    line-height: 35px;
  }
  .s-line-height-36 {
    line-height: 36px;
  }
  .s-line-height-37 {
    line-height: 37px;
  }
  .s-line-height-38 {
    line-height: 38px;
  }
  .s-line-height-39 {
    line-height: 39px;
  }
  .s-line-height-40 {
    line-height: 40px;
  }
  .s-line-height-41 {
    line-height: 41px;
  }
  .s-line-height-42 {
    line-height: 42px;
  }
  .s-display-block {
    display: block;
  }
  .j-1-full {
    grid-area: 1 / span 12;
  }
  .s-border-none {
    border: none;
  }
  .s-p-l-0 {
    padding-left: 0;
  }
  .s-p-r-0 {
    padding-right: 0;
  }
  .s-pt-15 {
    padding-top: 15px;
  }
  .s-pb-15 {
    padding-bottom: 15px;
  }
  .s-ml-20 {
    margin-left: 20px;
  }
  .s-mb-20 {
    margin-bottom: 20px;
  }
  .s-mt-0 {
    margin-top: 0;
  }
  .s-flex-order-1 {
    order: 1;
  }
  .s-flex-1 {
    flex: 1;
  }
  .s-flex-order-2 {
    order: 2;
  }
  .s-flex-2 {
    flex: 2;
  }
  .flex-right-img-none .flex-1 {
    display: none;
  }
  .s-flex-d-c {
    flex-direction: column;
  }
  .s-row-flex-d-r {
    display: flex;
    flex-direction: row;
  }
  .video-icon {
    width: 48px;
    height: 48px;
  }
  .video-icon-2 {
    width: 32px;
    height: 32px;
    bottom: 12%;
  }
  .s-width-100 {
    width: 100%;
  }
  .s-bg-none {
    background: none;
  }
  .s-row {
    display: flex;
  }
  .s-position-initial {
    position: initial;
  }
  .s-float-left {
    float: left;
  }
}
