@font-face {
	font-family: "Kiron";
	src: url("fonts/Kiron.eot?") format("eot"),
		 url("fonts/Kiron.woff") format("woff"),
		 url("fonts/Kiron.ttf") format("truetype"),
		 url("fonts/Kiron.svg#Samplino") format("svg");
}

$body-color:#fff;
$bg-1:#f7f7f7;
$bg-1-9:#f7f7f7e6;

$center:center;

$container-max-width:1264px;
$container-width:100%;

$font-family: Kiron;

$color1:#999999;
$color2:#e2e2e2;
$color3:#0099ff;
$color4: #121212;
$color5:#000000;
$color6:#555555;
$color7:#ffffff;
$color8:#222222;

$font-weight: 700;

a{
    text-decoration: none;
    &:hover h3{
        color:$color3;
    }
}

.height-65{
    height: 65px;;
}

img.width100{
    width: 100%;
}

.overflow-hidden{
    overflow: hidden;
}
.border{
    border:1px solid $color2;
}
.border-bottom{
    border-bottom:1px solid $color2;
}

.border-left{
    border-left:1px solid $color2;
}

.border-right{
    border-right:1px solid $color2;
}

.width-10{
    width: 10px;;
}

.width-100--30{
    width:calc(100% - 30px);
}

@for $i from 1 through 2 { 
    .flex-#{$i} {
        flex: $i;
    }
}

@for $i from 1 through 20 { 
    .bottom-#{$i} {
        bottom: $i + px;
    }
}

@for $i from 1 through 42 { 
    .line-height-#{$i} {
        line-height: $i + px;
    }
}

@for $i from 10 through 40 { 
    .font-size-#{$i + 2} {
        font-size: $i + 2 + px;
    }
}

@for $i from 0 through 40 {    
    .pt-#{$i} {
        padding-top: $i + px;
    }
    .pb-#{$i} {
        padding-bottom: $i + px;
    }
    .pl-#{$i} {
        padding-left: $i + px;
    }
    .pr-#{$i} {
        padding-right: $i + px;
    }

    .mtb-#{$i} {
        margin: $i + px;
    }
    .mt-#{$i} {
        margin-top: $i + px;
    }
    .mb-#{$i} {
        margin-bottom: $i + px;
    }
    .ml-#{$i} {
        margin-left: $i + px;
    }
    .mr-#{$i} {
        margin-right: $i + px;
    }
}

body{
    background: $body-color;
    font-family: $font-family;
}

.bg-1{
    background: $bg-1;
}

.bg-2{
    background: $color4;;
}

.bg-3{
    background: $color8;;
}

.bg-1-9{
    background: $bg-1-9;
}

.f-color{
    color: $color1;
}

.color3{
    color:$color3;
}

.color4{
    color: $color4;
}

.color6{
    color: $color6;
}

.color7{
    color: $color7;
}

.f-weight-bold{
    font-weight: $font-weight;
}

.center-align{
    text-align: $center;
}

.right-align{
    text-align: right;
}

.container{
    width: $container-width;
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
}

.fixed-height-style-1{
    height: 350px;
}

.display-inline-block{
    display: inline-block;
}

.display-inherit{
    display: inherit;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px
}

@for $i from 1 through 12 {    
    .col-#{$i} {
        grid-column:span $i;
    }
}

.row{
    display: flex;
}

.full-width{
    flex-grow: 1
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.border-1{
    border:1px solid $color2;
}

.list-style{
    list-style: none;
}

ul{
    text-align:center;
    border-top:1px solid $color2;
    border-bottom: 1px solid $color5;;
    li{
        display: inline-block;
        a{
            color: $color4;
            &:hover {
                color:$color3;
            }
        }
    }
}

.text-deco-none{
    text-decoration: none;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position:absolute;
}

.video-icon{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 5%;
    cursor: pointer;
    transition-duration: 500ms;
    bottom: 5%;
}

.video-icon-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 5%;
    cursor: pointer;
    transition-duration: 500ms;
    bottom: 10%;
}